@model IEnumerable<SIMAMUS.GUI.Models.TipoConsulta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informción general de los tipos de consulta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreConsulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreConsulta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTipoConsulta }) |
            @Html.ActionLink("Ver Detalles", "Details", new { id=item.IdTipoConsulta }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdTipoConsulta })
        </td>
    </tr>
}

</table>
