@model IEnumerable<SIMAMUS.GUI.Models.Especialidad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Información General de Especialidades</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table">

    <tr>
        <th>
            @Html.DisplayName("Especialidad")
        </th>
        <th>
            @Html.DisplayName("Cantidad de medicos")
        </th>
        <th>
            @Html.DisplayName("Acciones")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Count)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdEspecialidad }) |
                @Html.ActionLink("Ver Detalles", "Details", new { id = item.IdEspecialidad })
            </td>
        </tr>
    }

</table>
