@model IEnumerable<SIMAMUS.GUI.Models.Especialidad>

@{
    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Informacion General de Especialidades</h2>

<p>
    @Html.ActionLink("Registrar nueva especialidad", "CreateAdministrador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Especialidad")
        </th>
        <th>
            @Html.DisplayName("Cantidad de medicos")
        </th>
        <th>
            @Html.DisplayName("Acciones")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Count)
            </td>
            <td>
                @Html.ActionLink("Editar Especialidad", "EditAdministrador", new { id = item.IdEspecialidad }) |
                @Html.ActionLink("Detalles de la Especialidad", "Details", new { id = item.IdEspecialidad })
            </td>
        </tr>
    }

</table>
