@model IEnumerable<SIMAMUS.GUI.Models.Persona>

<br /> <br />



@using (Html.BeginForm("Consulta", "RegistroResultados", FormMethod.Get))
{
       <div class="form-inline">
           @Html.TextBox("SearchValue", "", new { @class = "form-control", @placeholder = "Cédula" })
           <button type="submit" value="Buscar" class="btn btn-primary">
               <span class="glyphicon glyphicon-search"></span> Buscar Cédula
           </button>
           @Html.ActionLink("Regresar a la lista de reportes", "Index",null, new { @class = "btn btn-info", @style = "float:right" })
       </div>

}
@if (Model != null)
{

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Cédulas</th>
                <th>Nombre</th>
                <th>Centro de Salud al que pertenece</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr style="color:red">
                    <td colspan="3"> No se encontro el ID digitado. Por favor regístrelo para continuar!</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Cedula</td>
                        <td>@item.Nombre @item.ApellidoUno @item.ApellidoDos</td>
                        <td>@item.CodigoSector</td>

                        <td>@Html.ActionLink("Crear Reporte", "Create", new { id = item.Cedula, nombre = item.Nombre + " " + item.ApellidoUno + " " + item.ApellidoDos, idU = User.Identity.Name })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}