@model SIMAMUS.GUI.Models.RegistroResultados

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>RegistroResultados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEstudio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEstudio.Day)/@Html.DisplayFor(model => model.fechaEstudio.Month)/@Html.DisplayFor(model => model.fechaEstudio.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hallazgos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hallazgos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conclusiones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conclusiones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medico.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radiologo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radiologo.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegionEstudio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionEstudio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoConsulta.NombreConsulta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoExamen.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoExamen.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdRegistro }) |
    @Html.ActionLink("Regresar la lista.", "Index")
</p>
