@model SIMAMUS.GUI.Models.Persona

@{
    ViewBag.Title = "DetailsAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Detalles</h2>

<div>

    <h4>Persona</h4>

    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Cédula")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Primer Apellido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoUno)
        </dd>

        <dt>
            @Html.DisplayName("Segundo Apellido")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoDos)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de nacimiento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayName("Telefono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayName("Dirección")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayName("Sector")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Genero")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo.Descripcion)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Editar", "EditAdministrador", new { id = Model.Cedula }) |
    @Html.ActionLink("Regresar a la lista.", "IndexAdministrador")
</p>
