@model SIMAMUS.GUI.Models.Persona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoUno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoUno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoDos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoDos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sector.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Cedula }) |
    @Html.ActionLink("Regresar a la lista.", "Index")
</p>
