@model IEnumerable<SIMAMUS.GUI.Models.Persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Información General de Personas registradas</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Apellidos")
        </th>
        <th>
            @Html.DisplayName("Fecha Nacimiento")
        </th>
        <th>
            @Html.DisplayName("Telefono")
        </th>
        <th>
            @Html.DisplayName("Dirección")
        </th>
        <th>
            @Html.DisplayName("Dirección")
        </th>
        <th>
            @Html.DisplayName("Sector")
        </th>
        <td>
            @Html.DisplayName("")
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoUno + item.ApellidoDos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Cedula }) |
            @Html.ActionLink("Ver detalles", "Details", new { id=item.Cedula }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Cedula })
        </td>
    </tr>
}

</table>
