@model IEnumerable<SIMAMUS.GUI.Models.Persona>

@{
    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>IndexAdministrador</h2>

<p>
    @Html.ActionLink("Create New", "CreateAdministrador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoUno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoDos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sector.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoUno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoDos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sector.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAdministrador", new { id=item.Cedula }) |
            @Html.ActionLink("Details", "DetailsAdministrador", new { id=item.Cedula })
        </td>
    </tr>
}

</table>
