@model SIMAMUS.GUI.Models.CentroSalud

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Centro de Salud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
<<<<<<< HEAD
            @Html.DisplayName("Nombre")
=======
            @Html.DisplayName("Nombre:")
>>>>>>> 936e630ff2be78ee965f552f109acf85cb8c67a9
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreCentro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UnidadProgramatica }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
