@model IEnumerable<SIMAMUS.GUI.Models.CentroSalud>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCentro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCentro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCentro }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCentro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCentro })
        </td>
    </tr>
}

</table>
