@model IEnumerable<SIMAMUS.GUI.Models.Sexo>

@{
    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Información general de los generos</h2>

<p>
    @Html.ActionLink("Registrar nuevo", "CreateAdministrador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditAdministrador", new { id = item.IdSexo }) |
                @Html.ActionLink("Ver detalles", "DetailsAdministrador", new { id = item.IdSexo }) |
                @Html.ActionLink("Eliminar", "DeleteAdministrador", new { id = item.IdSexo })
            </td>
        </tr>
    }

</table>