@model SIMAMUS.GUI.Models.Radiologo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Radiologo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Contrasenna)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Contrasenna)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editr", "Edit", new { id = Model.CodigoRadiologo }) |
    @Html.ActionLink("Regresar a la lista.", "Index")
</p>
