@model SIMAMUS.GUI.Models.Radiologo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Radiologo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodRadiologo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodRadiologo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdRadiologo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
