@model IEnumerable<SIMAMUS.GUI.Models.Radiologo>

@{
    ViewBag.Title = "IndexTecnico";
    Layout = "~/Views/Shared/_LayoutTecnico.cshtml";
}

<h2>Información general sobre radiologos registrador</h2>

<p>
    @Html.ActionLink("Registrar", "CreateTecnico")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Contrasenna)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditTecnico", new { id=item.CodigoRadiologo }) |
            @Html.ActionLink("Ver detalles", "DetailsTecnico", new { id=item.CodigoRadiologo }) |
            @Html.ActionLink("Eliminar", "DeleteTecnico", new { id=item.CodigoRadiologo })
        </td>
    </tr>
}

</table>
