@model IEnumerable<SIMAMUS.GUI.Models.Radiologo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Información general sobre radiologos</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Contrasenna)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.CodigoRadiologo }) |
            @Html.ActionLink("Ver detalles", "Details", new { id = item.CodigoRadiologo }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.CodigoRadiologo })
        </td>
    </tr>
}

</table>
