@model IEnumerable<SIMAMUS.GUI.Models.Radiologo>

@{
    /**/

    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Información general sobre radiologos registrador</h2>

<p>
    @Html.ActionLink("Registrar", "CreateAdministrador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Contrasenna)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Contrasenna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditAdministrador", new { id = item.CodigoRadiologo }) |
                @Html.ActionLink("Ver detalles", "DetailsAdministrador", new { id = item.CodigoRadiologo })
            </td>
        </tr>
    }

</table>
