@model IEnumerable<SIMAMUS.GUI.Models.RegionEstudio>

@{
    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>IndexAdministrador</h2>

<p>
    @Html.ActionLink("Create New", "CreateAdministrador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAdministrador", new { id=item.CodigoRegion }) |
            @Html.ActionLink("Details", "DetailsAdministrador", new { id=item.CodigoRegion })
        </td>
    </tr>
}

</table>
