@model IEnumerable<SIMAMUS.GUI.Models.RegionEstudio>

@{
    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Información general sobre las regiones de estudio</h2>

<p>
    @Html.ActionLink("Registrar", "CreateAdministrador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditAdministrador", new { id=item.CodigoRegion }) |
            @Html.ActionLink("Ver detalles", "DetailsAdministrador", new { id=item.CodigoRegion })
        </td>
    </tr>
}

</table>
