@model SIMAMUS.GUI.Models.Usuario

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@using (Html.BeginForm("Index", "Usuario", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <br /><br />
    <div class="form-horizontal">
        @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(model => model.Contrasenna, new { htmlAttributes = new { @class = "form-control"} })
            @Html.ValidationMessageFor(model => model.Contrasenna, "", new { @class = "text-danger" })
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Ingresar" class="btn btn-primary" />
        </div>
    </div>
}
