@{
    ViewBag.Title = "Home Page";
    SIMAMUS.GUI.Models.Usuario usr = ViewBag.Usuario;
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Bienvenido usuario, @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h1>
}

<div class="container-fluid">

    <hr /><hr /><br /><br /><br />

    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Gestion de Especialidades", "Index", "Especialidads", null, htmlAttributes: new { @class = "btn btn-primary btn-block btn-lg" })
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @Html.ActionLink("Gestion de Radiologos", "Index", "Radiologos", null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block" })

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @Html.ActionLink("Ver Centros de Salud","IndexAdministrador", "CentroSaluds", null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block" })
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Gestion de Generos", "Index", "Sexoes", null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block" })
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @Html.ActionLink("Regiones de Estudio", "Index", "RegionEstudios", null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block" })

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @*
                aqui iria otro boton
            *@
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Gestion de Medicos", "Index", "Medicos", null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block" })
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @Html.ActionLink("Resultados", "Index", "RegistroResultados", null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block" })

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @*
                aqui iria otro boton
            *@
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Gestion de Personas", "Index", "Personas", null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block" })
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @Html.ActionLink("Tipos de Consulta", "Index", "TipoConsultas", null, htmlAttributes: new { @class = "btn btn-primary btn-lg btn-block" })

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @*
                aqui iria otro boton
            *@
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @*
                aqui iria otro boton
            *@
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            @*
                aqui iria otro boton
            *@
        </div>
    </div>

    <br /><br /><hr />

</div>