@{
    ViewBag.Title = "Home Page";
    SIMAMUS.GUI.Models.Usuario usr = ViewBag.Usuario;
    string nombre = "Bienvenid@, " + usr.NombreUsuario;
}

<h1>@nombre</h1>

<div class="container-fluid">
    <div class="col-md-12">
        <br />
        <div class="col-md-3">
            @Html.ActionLink("Persona", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Centro de Salud", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Especialidad", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <div class="col-md-3">
            @Html.ActionLink("Medico", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Nivel del Usuario", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Radiologo", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Region Estudio", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <div class="col-md-3">
            @Html.ActionLink("Registo de Resultados", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Sector", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Sexo", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Tipo de Consulta", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
    <div class="col-md-12">
        <br />
        <div class="col-md-3">
            @Html.ActionLink("Usuario", "Index", "Persona", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>