@model SIMAMUS.GUI.Models.Medico

@{
    ViewBag.Title = "CreateAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Registrar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Medico</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Codigo de Medico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodigoMedico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodigoMedico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
<<<<<<< HEAD
            @Html.Label("Especialidad", htmlAttributes: new { @class = "control-label col-md-2" })
=======
            @Html.Label("Especialidad", "IdEspecialidad", htmlAttributes: new { @class = "control-label col-md-2" })
>>>>>>> 936e630ff2be78ee965f552f109acf85cb8c67a9
            <div class="col-md-10">
                @Html.DropDownList("IdEspecialidad", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdEspecialidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
<<<<<<< HEAD
            @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
=======
            @Html.Label("Usuario", "NombreUsuario", htmlAttributes: new { @class = "control-label col-md-2" })
>>>>>>> 936e630ff2be78ee965f552f109acf85cb8c67a9
            <div class="col-md-10">
                @Html.DropDownList("NombreUsuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista.", "IndexAdministrador")
</div>
