@model SIMAMUS.GUI.Models.Medico

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que quiere eliminar el medico?</h3>
<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Especialidad: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.NombreEspecialidad)
        </dd>

        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la lista.", "Index")
        </div>
    }
</div>
