@model SIMAMUS.GUI.Models.Medico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Especialidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.NombreEspecialidad)
        </dd>

        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CodigoMedico }) |
    @Html.ActionLink("Regresar a la lista.", "Index")
</p>
