@model SIMAMUS.GUI.Models.Medico

@{
    ViewBag.Title = "DetailsTecnico";
    Layout = "~/Views/Shared/_LayoutTecnico.cshtml";
}

<h2>DetailsTecnico</h2>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especialidad.NombreEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.NombreEspecialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Contrasenna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Contrasenna)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditTecnico", new { id = Model.CodigoMedico }) |
    @Html.ActionLink("Back to List", "IndexTecnico")
</p>
