@model IEnumerable<SIMAMUS.GUI.Models.Medico>

@{
    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>IndexAdministrador</h2>

<p>
    @Html.ActionLink("Create New", "CreateAdministrador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.NombreEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Contrasenna)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.NombreEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Contrasenna)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAdministrador", new { id=item.CodigoMedico }) |
            @Html.ActionLink("Details", "DetailsAdministrador", new { id=item.CodigoMedico })
        </td>
    </tr>
}

</table>
