@model IEnumerable<SIMAMUS.GUI.Models.Medico>

@{
    ViewBag.Title = "IndexAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Informacion general de Medicos</h2>

<p>
    @Html.ActionLink("Registrar", "CreateAdministrador")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Usuario")
        </th>
        <th>
            @Html.DisplayName("Especialidad")
        </th>
        <th>
            @Html.DisplayName("Acciones")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.NombreEspecialidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditAdministrador", new { id = item.CodigoMedico }) |
            @Html.ActionLink("Ver detalles", "DetailsAdministrador", new { id = item.CodigoMedico })
        </td>
    </tr>
}

</table>
