@model IEnumerable<SIMAMUS.GUI.Models.Medico>

@{
    ViewBag.Title = "Medicos";
    Layout = "~/Views/Shared/_LayoutTecnico.cshtml";
}

<h2>Médicos</h2>
@Html.ActionLink("Registrar Médico", "CreateTecnico",null, new { @class = "btn btn-success", @style = "float:right" }) 
<br /> <br />  

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.NombreEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.NombreEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTecnico", new { id=item.CodigoMedico }) |
            @Html.ActionLink("Details", "DetailsTecnico", new { id=item.CodigoMedico }) |
            @Html.ActionLink("Delete", "DeleteTecnico", new { id=item.CodigoMedico })
        </td>
    </tr>
}

</table>
