@model IEnumerable<SIMAMUS.GUI.Models.Medico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Especialidad")
        </th>
        <th>
            @Html.DisplayName("Nombre de Usuario")
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.NombreEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodigoMedico }) |
            @Html.ActionLink("Ver Detalles", "Details", new { id=item.CodigoMedico }) 
        </td>
    </tr>
}

</table>
